<form id="formProducto">

  <div class="mb-3">
    <label for="prodName" class="form-label">Nombre del Producto</label>
    <input type="text" class="form-control" id="prodName">
  </div>
  <div class="mb-3">
    <label for="prodDesc" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="prodDesc">
  </div>
  <div class="mb-3">
    <label for="prodCat" class="form-label">Categoría</label>
    <input type="text" class="form-control" id="prodCat">
  </div>
  <div class="mb-3">
    <label for="prodPrice" class="form-label">Precio</label>
    <input type="text" class="form-control" id="prodPrice">
  </div>
  <div class="mb-3">
    <label for="prodStock" class="form-label">Stock</label>
    <input type="text" class="form-control" id="prodStock">
  </div>
  <div class="mb-3">
    <label for="prodCode" class="form-label">Code</label>
    <input type="text" class="form-control" id="prodCode">
  </div>

  <button type="submit" class="btn btn-primary">Crear Producto</button>
</form>